header {
  text-align: center;
}

header h1 {
  font-size: 36px;
  font-weight: bold;
}

header h2 {
  font-size: 24px;
  font-style: italic;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh; /* Set a fixed height to the container to center the image vertically */
}

.image-container img {
  max-width: 100%;
  max-height: 100%;
}
